<% breadcrumb :automacao_grupo_acao_edit, @automacao_grupo_acao %>
<div class="row">
	<h3><%= action_edit(@automacao_grupo_acao) %> <%= singular_model_name_for(AutomacaoGrupoAcao) %></h3>
</div>

<%= render 'form', automacao_grupo_acao: @automacao_grupo_acao %>
