<% breadcrumb :comando_infra_vermelho_edit, @comando_infra_vermelho %>
<div class="row">
	<h3><%= action_edit(@comando_infra_vermelho) %>
		<%= singular_model_name_for(ComandoInfraVermelho) %></h3>
</div>

<%= render 'form', comando_infra_vermelho: @comando_infra_vermelho %>
