<% breadcrumb :comando_infra_vermelho_new, @componente %>
<div class="row">
	<h3><%= action_new(@comando_infra_vermelho) %> <%= singular_model_name_for(ComandoInfraVermelho) %></h3>
</div>

<%= render 'form', comando_infra_vermelho: @comando_infra_vermelho %>
