<% breadcrumb :token_notificacao_mobile_edit, @token_notificacao_mobile %>
<div class="row">
	<h3><%= action_edit(@token_notificacao_mobile)  %> <%= singular_model_name_for(TokenNotificacaoMobile) %></h3>
</div>

<%= render 'form', token_notificacao_mobile: @token_notificacao_mobile %>
