<% breadcrumb :usuario_edit, grupo_usuario(@grupo,@usuario) %>
<div class="row">
	<h3><%= action_edit(@usuario) %> <%= singular_model_name_for(Usuario) %></h3>
</div>

<%= render 'form', usuario: @usuario %>
