.aws
.byebug_history
.codeclimate.yml
.csslintrc
.dockerignore
.env
.env.prod
.eslintignore
.eslintrc
.git/
.rspec
.rspec_parallel
.rubocop.yml
.ruby-gemset
coverage/
doc/
Dockerfile
Dockerrun.aws.json
docs/
Guardfile
log/*
redis/
spec/
tmp/*
Vagrantfile
