<div class="row">
  <% @componentes.each do |componente| %>
    <div class="container">
      <%= render partial: "componentes/#{componente.identificador.downcase}", locals: {componente: componente} %>
    </div>
  <% end %>
</div>
