<% breadcrumb :componente_propriedade_edit, @componente_propriedade %>
	<div class="row">
		<h3><%= action_edit(@componente_propriedade) %>
			<%= singular_model_name_for(ComponentePropriedade) %></h3>
	</div>

	<%= render 'form', componente_propriedade: @componente_propriedade %>
