<% breadcrumb :componente_propriedade_new, @componente %>
	<div class="row">
		<h3><%= action_new(@componente_propriedade) %>
			<%= singular_model_name_for(ComponentePropriedade) %></h3>
	</div>

	<%= render 'form', componente_propriedade: @componente_propriedade %>
