<% breadcrumb :controle_comando_new, @controle %>
<div class="row">
	<h3><%= action_new(@controle_comando) %>
		<%= singular_model_name_for(ControleComando) %></h3>
</div>

<%= render 'form', controle_comando: @controle_comando %>
