<ul class="collection with-header">
  <li class="collection-header grey lighten-4">
    <h5>
      <b>Grupos</b> 
    </h5>
  </li>

  <% @grupos.each do |grupo| %>
    <%= link_to grupo_grupos_usuarios_path(grupo.grupo), class: "collection-item" do %>
      <b><%= grupo.grupo.nome %></b>
    <% end %>
  <% end %>
</ul>