<% @groups_user.each do |group_user| %>
  <div class="row">
    <div class="center-align white-text descricao-group" ><b><%= group_user.group.nome %></b></div>
    <% group_user.group.rooms_group.each do |room_group| %>
      <% if room_group.visivel %>
        <div class="col s6 m4">
          <div class="card-room" data-href="<%= group_room_group_devices_room_path(group_user, room_group) %>">
            <div class="center-align white-text">
              <i class="large material-icons"><%= room_group.icone %></i>
              <p>
                <b><%= room_group.nome %></b>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
