<div class="container" style="margin-top: 50px;">
  <%= link_to "Ligar", publish_home_index_path, class: "waves-effect waves-light btn" %>
  <%= link_to "Desligar", subscribe_home_index_path, class: "waves-effect waves-light btn" %>
</div>