<% breadcrumb :automacao_grupo_condicao_new, @automacao_grupo %>
<div class="row">
	<h3><%= action_new(@automacao_grupo_condicao) %> <%= singular_model_name_for(AutomacaoGrupoCondicao) %></h3>
</div>

<%= render 'form', automacao_grupo_condicao: @automacao_grupo_condicao %>
