<div class="z-depth-5 white-text card-componente grey darken-4" data-href="<%= componente_comandos_infra_vermelhos_path(componente) %>">
  <div class="col s12 center-align" style="margin-top:2px;">
    <b><%= componente.descricao %></b>
  </div>
  <div class="col s12 center-align">
    <i class="small material-icons" style="margin-top:5px;">settings_remote</i>
  </div>
</div>
  
