<div class="z-depth-5 white-text card-device grey darken-4" data-href="<%= device_comandos_infra_vermelhos_path(device) %>">
  <div class="col s12 center-align" style="margin-top:2px;">
    <b><%= device.descricao %></b>
  </div>
  <div class="col s12 center-align">
    <i class="small material-icons" style="margin-top:5px;">settings_remote</i>
  </div>
</div>
  
