<div class="z-depth-5 white-text card-device grey darken-4">
  <div class="col s12 center-align" style="margin-top:2px;">
    <b><%= device_room.descricao %></b>
  </div>
  <div class="center-align">
    <div class="switch">
      <label style="font-size:9px;">
        Fechar
        <% if device_room.estado %>

        <% else %>
          
        <% end %>
        <span class="lever"></span>
        Abrir
      </label>
    </div>
  </div>
</div>
