<div class="room_device">
  <div class="z-depth-5 white-text card-device grey darken-4 valign-wrapper" data-href="<%= room_device_control_layouts_path(room_device) %>">
    <div class="col s12 center-align" style="margin-top:2px;">
      <b><%= room_device.name %></b>
    </div>
    <div class="col s12 center-align">
      <i class="small material-icons" style="margin-top:5px;">dialpad</i>
    </div>
  </div>
</div>
