<div class="z-depth-5 white-text card-componente grey darken-4">
  <div class="col s12 center-align" style="margin-top:2px;">
    <b><%= componente_ambiente.descricao %></b>
  </div>
  <div class="center-align">
    <div class="switch">
      <label style="font-size:9px;">
        Fechar
        <% if componente_ambiente.estado %>

        <% else %>
          
        <% end %>
        <span class="lever"></span>
        Abrir
      </label>
    </div>
  </div>
</div>
