<div class="device_room">
  <div class="z-depth-5 white-text card-device grey darken-4 valign-wrapper" data-href="<%= device_room_layout_controls_path(device_room) %>">
    <div class="col s12 center-align" style="margin-top:2px;">
      <b><%= device_room.descricao %></b>
    </div>
    <div class="col s12 center-align">
      <i class="small material-icons" style="margin-top:5px;">dialpad</i>
    </div>
  </div>
</div>
