<div class="componente_ambiente">
  <div class="z-depth-5 white-text card-componente grey darken-4 valign-wrapper" data-href="<%= componente_ambiente_layout_controles_path(componente_ambiente) %>">
    <div class="col s12 center-align" style="margin-top:2px;">
      <b><%= componente_ambiente.descricao %></b>
    </div>
    <div class="col s12 center-align">
      <i class="small material-icons" style="margin-top:5px;">dialpad</i>
    </div>
  </div>
</div>
