<div class="row" id="room_device">
  <% @room_devices.each do |room_device| %>
    <div class="container">
      <div id="device-<%= room_device.id %>" class="publish-mqtt">
        <%= render partial: "room_devices/#{room_device.control.device.name.downcase}", locals: {room_device: room_device} %>
      </div>
    </div>
  <% end %>
</div>
