<div class="row" id="componente_ambiente">
  <% @componentes_ambiente.each do |componente_ambiente| %>
    <div class="container">
      <%= render partial: "componentes_ambiente/#{componente_ambiente.componente.layout_controle.descricao.downcase}", locals: {componente: componente_ambiente} %>
    </div>
  <% end %>
</div>
