<div class="row" id="device_room">
  <% @devices_room.each do |device_room| %>
    <div class="container">
      <div id="device-<%= device_room.id %>" class="publish-mqtt">
        <%= render partial: "devices_room/#{device_room.control.device.name.downcase}", locals: {device_room: device_room} %>
      </div>
    </div>
  <% end %>
</div>
