<ul class="collection with-header">
  <li class="collection-header grey lighten-4">
    <h5>
      <b>Usuários do group</b>
    </h5>
  </li>

  <% @users.each do |user| %>
    <li class="collection-item">
      <b  ><%= user.email %> <% if user.admin? %> - Admin <% end %></b>
      <% if user.email != current_user.email %>
        <b class="secondary-content">
          <%= link_to user_path(user, group_id: @group), method: :delete, data: {confirm: 'Você tem certeza?'}, class: "red-text" do %>
            <i class="material-icons">clear</i>
          <% end %>
        </b>
      <% end %>
      <% if user.email != current_user.email %>
        <b class="secondary-content">
          <%= link_to edit_group_user_path(@group, user), class: "black-text" do %>
            <i class="material-icons">edit</i>
          <% end %>
        </b>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="fixed-action-btn right-align">
  <%= link_to new_group_user_path, class: "btn-floating btn-large red" do %>
    <i class="large material-icons" style="margin-top: 5px;">add</i>
  <% end %>
</div>
