[data-href] {
  cursor: pointer;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h3 {
  font-weight: bold !important;
}

h4 {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold !important;
}

.img-responsive {
  display: inline;
  width: 90px;
  height: 20px;
  margin-top: 15px;
}

input[type=range] {
  border: 3px solid #c2c0c2 !important;
  border-radius: 5px;
}

@media(max-width: 800px){
  .container {
    width: 100% !important;
  }
}

@media(min-width: 800px){
  .container {
    width: 85% !important;
  }
}

.thumb {
  visibility: hidden;
}

.container {
    padding: 2px 16px;
}

.login {
  width: 90%;
  max-width: 500px;
}

.middle {
  margin-top: calc(50vh - 300px)
}

.titulo-app {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

.logo-name {
  color: #e6e6e6;
  font-size: 70px;
  font-weight: 500;
}

.botao-respostas {
  float: right;
  margin-left: 10px;
}

.btn-floating.btn-large {
  width: 65px !important;
  height: 65px !important;
}

.breadcrumb {
  font-size: 15px !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.line {
  border:1px dashed grey;
  opacity: 0.3;
}

.nav-filtros {
  height: 50px;
  line-height: 25px;
  margin-top: 5px;
}

.row .col {
  padding: 0px !important;
}

.pagination a li {
  width: 30px;
  font-size: 18px;
  color: black;
}

.pagination a li.active {
  color: #fff;
  background-color: grey;
}

.botao-infra-vermelho#numeric-keyboard {
  width: 30%;
}

.repeat-data {
  visibility: hidden
}


.pagination a li.active {
  color: #fff;
  background-color: grey;
}


.collapsible.pull-right {
  margin-right: 3px;
  margin-left: 3px;
}

.collapsible.pull-left {
  margin-left: 3px;
  margin-right: 3px;
}

.ant-modal-header {
  padding: 16px 24px;
  border-radius: 4px 4px 0 0;
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #e8e8e8;
}

.ant-modal-title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.container-row {
  padding: 15px 0px 0px 8px;
}

.form-padding {
  padding-top: 30px;
}

nav a.sidenav-trigger {
  display: inline !important
}

#dropdown-nav {
  width: 200px !important;
}

.audited {
  background-color: #ffffb3;
  border-radius: 10px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 90% !important;
  }
}

.form-drawer {
  padding: 50px 50px 150px 50px
}

.pagination li.active {
  background-color: #1890ff !important;
}

.margin-right-title {
  margin-right: 10px
}

.margin-left-title {
  margin-left: 10px
}