[data-href] {
  cursor: pointer;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h3 {
  font-weight: bold !important;
}

h4 {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold !important;
}

.img-responsive {
  display: inline;
  width: 90px;
  height: 20px;
  margin-top: 15px;
}

input[type=range] {
  border: 3px solid #c2c0c2 !important;
  border-radius: 5px;
}

@media(max-width: 800px){
  .container {
    width: 100% !important;
  }
}

@media(min-width: 800px){
  .container {
    width: 85% !important;
  }
}

.thumb {
  visibility: hidden;
}

.container {
    padding: 2px 16px;
}

.login {
  width: 90%;
  max-width: 500px;
}

.middle {
  margin-top: calc(50vh - 300px)
}

.titulo-app {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

.logo-name {
  color: #e6e6e6;
  font-size: 70px;
  font-weight: 500;
}

.botao-respostas {
  float: right;
  margin-left: 10px;
}

.btn-floating.btn-large {
  width: 65px !important;
  height: 65px !important;
}

.breadcrumb {
  font-size: 15px !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.line {
  border:1px dashed grey;
  opacity: 0.3;
}

.nav-filtros {
  height: 50px;
  line-height: 25px;
  margin-top: 5px;
}

.row .col {
  padding: 0px !important;
}

.pagination a li {
  width: 30px;
  font-size: 18px;
  color: black;
}

.pagination a li.active {
  color: #fff;
  background-color: grey;
}

.botao-infra-vermelho#numeric-keyboard {
  width: 30%;
}

.repeat-data {
  visibility: hidden
}
