.input-search {
  position: relative
}

.btn-search {
  width: 0 !important;
  height: 0 !important;
}

.icon-search {
  margin-right: 0 !important;
  position: absolute;
  font-size: 2rem;
  margin-top: 8px;
  transition: color .2s;
  right: 0;
  height: 0;
}

.icon-search:hover {
  font-size: 2.1rem !important;
}