<div class="wrapper">
	<section class="module-header full-height parallax bg-dark bg-dark-60" data-background="assets/images/module-29.jpg">
		<div id="particles-js"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="h1">Sync House</h1>
					<h1 class="h1 m-b-15">Automação</h1>
					<p class="m-b-30">Synchouse realiza projetos de automação residencial para ambientes diversificados criando as chamadas “casas inteligentes”</p>
					<p><a class="btn btn-lg btn-circle btn-brand" href="#">Get Pricing</a>
	<a class="btn btn-lg btn-outline btn-circle btn-white" href="#">Learn More</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	</section>
	<!-- Page Header end-->

	<a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
  <!-- Services-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="icon icon-basic-pencil-ruler"></span></div>
            <div class="icon-box-title">
              <h6>Excellent Designs</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum dolor sit amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Take a tour</a></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="icon icon-basic-paperplane"></span></div>
            <div class="icon-box-title">
              <h6>Fully Responsive</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum dolor sit amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Take a tour</a></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="icon icon-basic-heart"></span></div>
            <div class="icon-box-title">
              <h6>User Friendly</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum dolor sit amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Take a tour</a></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="icon icon-basic-server-download"></span></div>
            <div class="icon-box-title">
              <h6>Free Updates</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum dolor sit amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Take a tour</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services end-->
</div>
