<div class="row">
  <ul class="collection with-header">
    <li class="collection-header grey lighten-4 ">
      <h5><b>Admin IoT - Painel de Administração</b></h5>
    </li>
    <%= link_to plural_model_name_for(Grupo), admin_grupos_path, class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(Usuario), admin_grupos_path, class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(ControleComponente), admin_controles_componentes_path		, class: "collection-item black-text" %>
  </ul>
</div>
