<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">

      </div>

      <div class="col-md-6 col-lg-3" style="margin-top: 20px">
        <!-- Text widget-->
        <aside class="widget widget_text">
          <div class="textwidget">
            <p></p>E-mail: <a href="mailto:support@core.com">synchouseautomacao@gmail.com</a> <br/>
            Telefone: (54) 99937-0036 <br/>
          </div>
        </aside>
      </div>
      <div class="col-md-6 col-lg-3">
        <aside class="widget widget_text">
          <div class="textwidget">
            <p class="text-center">
              <%= image_tag('doorSyncHouseWhite.png', class: 'img-responsive') %>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center"><span class="copyright">© 2018 SyncHouse Automação, Todos os direitos reservados. Desenvolvido por <b><a href="https://www.linkedin.com/in/augusto-albertoni-928387104/" target="_blank">Augusto Pedrollo</a></span></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end-->
