<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <!-- Text widget-->
        <aside class="widget widget_text">
          <div class="textwidget">
            <p></p>E-mail: <a href="mailto:support@core.com">synchouseautomacao@gmail.com</a> <br/>
            Telefone: (54) 99937-0036 <br/>
          </div>
        </aside>
      </div>
      <div class="col-md-6 col-lg-3">
        <!-- Recent entries widget-->
        <aside class="widget widget_recent_entries">
          <div class="widget-title">
            <h5>Recent Posts</h5>
          </div>
          <ul>

          </ul>
        </aside>
      </div>
      <div class="col-md-6 col-lg-3">
        <!-- Twitter widget-->
        <aside class="widget twitter-feed-widget">
          <div class="widget-title">
            <h5>Twitter Feed</h5>
          </div>

        </aside>
      </div>
      <div class="col-md-6 col-lg-3">
        <!-- Tags widget-->
        <aside class="widget widget_tag_cloud">
          <div class="widget-title">
            <h5>Tags</h5>
          </div>

        </aside>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center"><span class="copyright">© 2018 SyncHouse Automação, Todos os direitos reservados. Desenvolvido por <b><a href="https://www.linkedin.com/in/augusto-albertoni-928387104/" target="_blank">Augusto Pedrollo</a></span></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end-->
