<li>
  <%= link_to home_console_path do %>
  <i class="material-icons">dashboard</i>
  <span class="grey-text text-darken-4">Início</span>
<% end %>
</li>
<% grupos_por_usuario.each do |grupo| %>
<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header white-text "><%= grupo.grupo.nome %>
        <i class="material-icons"></i>
      </a>
      <% grupo.grupo.ambientes_grupo.each do |ambiente_grupo| %>
        <% if ambiente_grupo.visivel %>
          <div class="collapsible-body grey darken-3">
            <ul>
              <li><%= link_to ambiente_grupo.nome, grupo_ambiente_grupo_componentes_ambiente_path(grupo, ambiente_grupo), class: "white-text" %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </li>
  </ul>
</li>
<% end %>
