<li>
  <%= link_to home_console_path do %>
  <i class="material-icons">dashboard</i>
  <span class="grey-text text-darken-4">Início</span>
<% end %>
</li>
<% groups_por_user.each do |group| %>
<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header white-text "><%= group.group.nome %>
        <i class="material-icons"></i>
      </a>
      <% group.group.rooms_group.each do |room_group| %>
        <% if room_group.visivel %>
          <div class="collapsible-body grey darken-3">
            <ul>
              <li><%= link_to room_group.nome, group_room_group_devices_room_path(group, room_group), class: "white-text" %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </li>
  </ul>
</li>
<% end %>
