<!-- Header-->
<header class="header header-right" >
  <div class="container-fluid">
    <!-- Logos-->
    <div class="inner-header">
      <a class="inner-brand" href="index.html">
        <%= link_to image_tag('doorSyncHousexcf.png', class: 'brand-dark', size: '80x80'), root_path %>
        <%= link_to image_tag('doorSyncHouseWhite.png', class: 'brand-light', size: '140x140'), root_path %>
      </a>
    </div>

    <!-- Navigation-->
    <div class="inner-navigation collapse">
      <div class="inner-navigation-inline">
        <div class="inner-nav">
          <ul>
            <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#">Home</a></li>
            <li class="menu-item-has-children"><a href="#">Institucional</a></li>
            <li class="menu-item-has-children"><a href="#">Produtos</a></li>
            <li class="menu-item-has-children"><a href="#">Contato</a></li>
            <li class="menu-item-has-children"><a href="<%= usuario_session_path %>">Login</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Mobile menu-->
    <div class="nav-toggle">
      <a href="#" data-toggle="collapse" data-target=".inner-navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
  </div>
</header>
